@import bootstrap

.app
  margin 2em 0 4em

  @font-face
    font-family 'Pet'
    src url('../assets/fonts/pet.ttf')
    font-style regular
    font-weight 400

  .container
    border-top-right-radius 15px
    border-bottom-right-radius 15px
    border-bottom-left-radius 15px
    border-top-left-radius 15px
    background-color #000000
    font-family 'Pet'
    color #00ff00
    padding 15px
    margin-top 15px
    width 75%
