@import bootstrap

.app
  margin 2em 0 4em

  @font-face
    font-family 'Pet'
    src url('../assets/fonts/pet.ttf')
    font-style regular
    font-weight 400

  .container
    border-top-right-radius 15px
    border-bottom-right-radius 15px
    border-bottom-left-radius 15px
    border-top-left-radius 15px
    background-color #000000
    font-family 'Pet'
    color #00ff00
    padding 15px
    margin-top 15px
    width 75%

    img
      padding 15px
      display block
      margin-left auto
      margin-right auto

    .list-group-item
      background none
      border none

      a
        color #44ff44

    .typed-cursor
      opacity 1
      -webkit-animation blink 0.9s infinite
      -moz-animation blink 0.9s infinite
      animation blink 0.9s infinite
      font-family Menlo, Monaco, Consolas, "Courier New", monospace
      font-size 18px

@keyframes blink
  0%
    opacity 1
  50%
    opacity 0
  100%
    opacity 1

@-webkit-keyframes blink
  0%
    opacity 1
  50%
    opacity 0
  100%
    opacity 1

@-moz-keyframes blink
  0%
    opacity 1
  50%
    opacity 0
  100%
    opacity 1